<h2>New celebrity</h2>
<form action="/celebrities/create" method="post">

<label for="name">name</label>
<input type="text"id="name" name="name">

<label for="occupation">Occupation</label>
<input type="text" id="occupation" name="occupation">

<label for="catchphrase">Catchphrase</label>
<input type="text"id="catchphrase" name="catchphrase">
<button>submit</button>
</form>